{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container pt-3 pb-3">
  <div class="card border-dark pt-3 pb-3">
    <div class="card-body font text-center">
      <h1>{% trans "Sign In" %}</h1>

      <p>{% blocktrans %}Please sign in to interact with a post or
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      <div class="row">
        <div class="card-body font text-center font">

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-signin font" label='sign-in' name="sign-in"
              type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}