@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Amiri&display=swap');

body {
    /* background-color: #F4F3EE; */
    background-color: #E0AFA0;
    color: #463F3A;
}


.navbar,
footer,
.logo-font {
    background-color: #E0AFA0;
    color: #463F3A;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.logo-card {
    color: #463F3A;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}


footer {
    font-size: 1.5rem;
}

.card-body,
.font,
h3 {
    font-family: 'Amiri', serif;
    color: #463F3A;
}

.card-title {
    color: #463F3A;
}

.post-link {
    color: #E0AFA0;
}

h1,
h2 {
    font-family: 'Amatic SC', cursive;
}

.btn-signin {
    background-color: #463F3A;
    color: #E0AFA0;
}