@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Amiri&display=swap');

body {
    background-color: #Efd6cf;
}

.navbar,
footer,
.logo-font {
    background-color: #E0AFA0;
    color: #000000;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.comment-detail {
    font-size: 1rem;
    color: #463F3A
}

.logo-card {
    background-color: #Efd6cf;
    width: 25rem;
}

.logo-text {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
}

footer {
    font-size: 1.5rem;
}

.card-body,
.font,
h3 {
    font-family: 'Amiri', serif;
}

.post-link {
    color: #E0AFA0;
}

h1,
h2 {
    font-family: 'Amatic SC', cursive;
}

.btn-signin {
    background-color: #463F3A;
    color: #E0AFA0;
}

img {
    width: 100%;
    height: auto;
}