@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Amiri&display=swap');

body {
    background-color: #F4F3EE;
    color: #463F3A;
}

.navbar {
    background-color: #E0AFA0;
    color: #463F3A;
}

.logo-font {
    background-color: #E0AFA0;
    color: #463F3A;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.card-body {
    font-family: 'Amiri', serif;
    color: #463F3A;
}

.card-title {
    color: #463F3A;
}

.post-link {
    color: #E0AFA0;
}

h2 {
    font-family: 'Amatic SC', cursive;
}