{% extends "base.html" %}

{% block content %}
<div class="container pt-3 pb-3">
    <div class="card border-dark pt-3 pb-3">
        <div class="card-body font text-center">
            <img class="card-img-top logo-card img-fluid"
                src="https://res.cloudinary.com/dpxa5dfjt/image/upload/v1676816140/The%20Witch%27s%20Cauldron/broom_blhe2l.png"
                alt="black drawing of a wooden broomstick">
            <div class="pt-3">
                <h1 class="post-title">ERROR 403: No amount of spells will allow you to access this page</h1>
                <a class="btn btn-signin" href="{% url 'home' %}" aria-label="Return to home page">Return to home
                    page.</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}