{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="container pb-3 pt-3">
        <div class="container pb-3 pt-3">
            <div class="row">
                <h2 class="text-center pb-3 pt-3">Spells relating to {{categorylist.category}}</h2>
                <div class="container-fluid pt-3 pb-3">
                    <div class="row">

                        <!-- Blog Entries Column -->
                        <div class="col-12 mt-3 left">
                            <div class="row">
                                {% for post in categorylist.related_posts %}
                                <div class="col-md-4">
                                    <div class="card border-dark mb-4">
                                        <div class="card-body">
                                            <div class="image-container">
                                                {% if "placeholder" in post.main_image.url %}
                                                <img src="https://res.cloudinary.com/dpxa5dfjt/image/upload/v1677416502/The%20Witch%27s%20Cauldron/cauldron_y7sb1f.webp"
                                                    class="card-img-top img-fit img-fluid"
                                                    alt="A black and white drawing of a cauldron with spiral steam coming from it's content">
                                                {% else %}
                                                <img src="{{ post.main_image.url }}"
                                                    alt="The creator has posted a custom image to suit their spell"
                                                    class="card-img-top img-fit img-fluid">
                                                {% endif %}
                                                <div class="image-flash">
                                                    <p class="creator">Creator: {{ post.creator }}</p>
                                                </div>
                                            </div>
                                            <a href="{% url 'spell_detail' post.slug %}" class="post-link">
                                                <h2 class="card-title">{{ post.title }}</h2>
                                                <p class="card-text">{{ post.excerpt }}</p>
                                            </a>
                                            <p class="card-text">{{ post.created_on }}

                                                <!-- Shows users' liked posts  -->
                                                {% if request.user in post.likes.all %}
                                                <i class="fas fa-heart"></i> {{ post.no_of_likes }}
                                                {% else %}
                                                <i class="fa-regular fa-heart"></i> {{ post.no_of_likes }}
                                                {% endif %}
                                                <i class="fa-regular fa-comments"></i> {{ post.comments.count }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}