{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated and user.username == comment.username %}

<div class="card border-dark font">
    <div class="card-body">
        <h2>Comment posted:</h2>
        <p>{{ comment }}</p>
        <form method="post">
            {{ form | crispy }}
            {% csrf_token %}
            <button class="btn btn-signin" type="submit" name="update" value="update">Update</button>
        </form>
    </div>
    {% endif %}
    {% endblock %}