{% extends "base.html" %}

{% block content %}

<div class="container pt-3 pb-3">

    <!-- Logo image and welcome message -->
    <div>
        <div class="container-fluid text-center">
            <div class="card border-dark pt-3 pb-1">
                <div class="container pt-3 pb-3">
                    <div class="card border-0">
                        <div class="col col-12 mt-3 d-flex justify-content-center">
                            <div class="card logo-card border-0">
                                <img class="card-img-top logo-card img-fluid"
                                    src="https://res.cloudinary.com/dpxa5dfjt/image/upload/v1676816121/The%20Witch%27s%20Cauldron/cauldron_png_h2j9gh.png"
                                    alt="A black and white drawing of a cauldron with spiral steam coming from it's contents">
                            </div>
                        </div>
                    </div>
                    <div class="card-text text-center logo-text">The Witch's Cauldron</div>
                    <br>
                    <div class="container container-fluid hero-text text-center font">
                        <p>Your Community Coven.</p>
                        <p> Bringing the world's most reveared Witch's work together online,
                            we are a true melting pot of practices.</p>
                        <p>
                            Whether you are a solo witch or those without a local coven, this
                            modern
                            gathering of aesoteric practices is bound to push you deeper into your
                            practice.</p>
                        <p> Blessed Be</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Spell posts -->
    <div class="container-fluid pt-3 pb-3">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in postspell_list %}
                    <div class="col-md-4">
                        <div class="card border-dark mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.main_image.url %}
                                    <img src="https://res.cloudinary.com/dpxa5dfjt/image/upload/v1676816121/The%20Witch%27s%20Cauldron/cauldron_png_h2j9gh.png"
                                        class="card-img-top"
                                        alt="A black and white drawing of a cauldron with spiral steam coming from it's content">
                                    {% else %}
                                    <img src="{{ post.main_image.url }}"
                                        alt="The creator has posted a custom image to suit their spell"
                                        class="card-img-top">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="creator">Creator: {{ post.creator }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'spell_detail' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <p class="card-text">{{ post.created_on }}

                                    <!-- Shows users' liked posts  -->
                                    {% if request.user in post.likes.all %}
                                    <i class="fas fa-heart"></i> {{ post.no_of_likes }}
                                    {% else %}
                                    <i class="fa-regular fa-heart"></i> {{ post.no_of_likes }}
                                    {% endif %}
                                    <i class="fa-regular fa-comments"></i> {{ post.comments.count }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}