{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="card border-dark">
            <div class="card-body font">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.creator }} | {{ post.created_on }}</p>
            </div>
            {% if user.is_authenticated and user.id == post.creator.id %}

            <div>
                <a class="btn btn-signin" href="{% url 'edit_spell' post.id %} ">Edit
                    Spell</a>
                <a class="btn btn-signin" href="{% url 'delete_spell' post.id %} ">Delete
                    Spell</a>
            </div>

            {% endif %}
            <div>
                {% if "placeholder" in post.main_image.url %}
                <img src="https://res.cloudinary.com/dpxa5dfjt/image/upload/v1676816121/The%20Witch%27s%20Cauldron/cauldron_png_h2j9gh.png"
                    class="card-img-top"
                    alt="A black and white drawing of a cauldron with spiral steam coming from it's contents">
                {% else %}
                <img src="{{ post.main_image.url }}" alt="" class="card-img-top">
                {% endif %}
            </div>
            <div class="container">
                <div class="row">
                    <div class="card-body">
                        <p class="card-text">{{ post.content | safe }}
                            <!-- likes and comments -->
                            <div class="row">
                                {% if user.is_authenticated %}
                                <form action="{% url 'spell_like' post.slug %}" method="POST"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="spellpost_id" value="{{post.slug}}" class="btn">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    {% else %}
                                    <button type="submit" name="spellpost_id" value="{{post.slug}}" class="btn">
                                        <i class="far fa-heart"></i>
                                    </button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span><i class="fa-regular fa-heart"></i> {{ post.no_of_likes }}</span>
                                {% endif %}
                                <div>
                                    {% with comments.count as no_of_comments %}
                                    <i class="fa-regular fa-comments">
                                    </i>
                                    {{ no_of_comments }}
                                    {% endwith %}
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card border-dark">
                        <h2>Comments:</h2>
                        <div class="card-body">
                            {% for comment in comments %}
                            <div class="container">
                                <div>
                                    <p>
                                        {{ comment.username}}
                                        <span>
                                            {{ comment.created_on }}
                                        </span>
                                    </p>
                                    {{ comment.body | linebreaks }}
                                    {% if user.is_authenticated and user.username == comment.username %}
                                    <div>
                                        <a class="btn btn-signin" href="{% url 'edit_comment' comment.id %} ">Edit
                                            Comment</a>
                                        <a class="btn btn-signin" href="{% url 'delete_comment' comment.id %}">Delete
                                            Comment</a>

                                    </div>

                                    {% endif %}
                                    <br>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="card border-dark font">
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                <h2>Post a comment</h2>
                                <p>Posted by: {{ user.username }}</p>
                                <form method="post" enctype="multipart/form-data">
                                    {{ comment_area | crispy }}
                                    {% csrf_token %}
                                    <button class="btn btn-signin" name="post" value="post">Post</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}